<h1><%= @student.firstname %> <%= @student.lastname %></h1>
<p> Student ID: <%= @student.studentID %></p>
<p> Birthday: <%= @student.birthday.strftime("%B %e, %Y") if @student.birthday %></p>
<p> Address: <%= @student.address %></p>
<p> <a href="/students">back to students index</a></p>
<p> <a href="/students/<%= @student.studentID %>/edit">edit this student</a>
<form action="/students/<%= @student.studentID %>" method="POST">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="delete this student"/>
</form>

